@{
    this.ViewData["Title"] = "Add product";
}
<br />
<h1>@this.ViewData["Title"]</h1>

@*<div class="form-group">
        <input class="form-control" id="Name" placeholder="Product name">
        <textarea class="form-control" id="Description" placeholder="Description"></textarea>
        <input class="form-control" id="Price" placeholder="Price">
        <input class="form-control" id="Quantity" placeholder="Quantity">
        TODO: Add photos!!!
        <p>
            <button type="button" class="btn btn-success">Add</button>
        </p>
    </div>*@

<form class="form-group">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter product name">
    </div>

    <div class="form-group">
        <label for="description1">Description</label>
        <textarea class="form-control" id="description1" rows="3" placeholder="Write product description here..."></textarea>
    </div>

    <div class="form-group">
        <label>Price</label>
        <input type="number" class="form-control" id="price">
    </div>

    <div class="form-group">
        <label>Quantity</label>
        <input type="number" class="form-control" id="quantity">
    </div>
    <p class="text-danger align-content-lg-center display-1">TODO: Upload pictures</p>
    
    <br/>
    <br/>
    @*<div class="form-group">
        <button class="btn btn-info">Please add some pictures</button>
    </div>*@
    <button type="submit" class="btn btn-success">Add product</button>
</form>