@model CraftsMarket.Web.ViewModels.Products.ProductViewModel
@{
    this.ViewData["Title"] = "Product details";
}
<br/>
<h1 class="text-warning">@Model.Name</h1>
<br/>
<p>@Model.Description</p>
<p>@Model.Price</p>