@{
    this.ViewData["Title"] = "About us";
}
<h1>@this.ViewData["Title"]...</h1>

<p>
    CraftsMarket is a place where everyone can display their craftsmanship talent.
</p>

<p>
    We congratulate and cherish every product You've made with your own hands. And even more - we have a special role for people with disabilities or family members with such. If You want to support them, we give You that chance.
</p>

<p>
    Mass production is not allowed for sale on our site!
</p>