@using CraftsMarket.Common
@model CraftsMarket.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome to @GlobalConstants.SystemName!</h1>
    <div class="display-4">
        <p>Here you can find</p>
        <p>
            <span class="display-3 text-danger">@Model.ProductsCount</span>
            <a class="nav-item" style="border: none; text-decoration:none !important;" asp-controller="">Products</a> in
        </p>
        <p>
            <span class="display-3 text-danger">@Model.CategoriesCount</span>
            <a class="nav-item" style="border: none; text-decoration:none !important;" asp-controller="">Categories</a>
        </p>
    </div>
</div>
