@using CraftsMarket.Common
@{
    this.ViewData["Title"] = "Privacy Policy";
}
<h1>@this.ViewData["Title"]</h1>

<p>On CraftsMarket, we have a special role called Superhero. @GlobalConstants.HandicapRoleDescription</p>
